
<%- include("../templates/head", {titulo: titulo, tituloHead: tituloHead}) %>
<br>
<%- include("../templates/cardTanques", {lastPhAll: lastPhAll}) %>
<br>
<h1><%=nombreTanque%></h1>
<label id="nombreTanqueAux" name="tanque" style="display: none;"><%=nombreTanque%></label>
<label id="lastPhAux" name="tanque" style="display: none;"><%- JSON.stringify(lastPH) %></label>
<br>
<div class="card">
    <div class="card-header">
        Ultima medición de pH
    </div> 
</div>
 
<div class="card-group">           
    <%- include("panelChart", {idChart:'panelChart',nombre: nombreTanque, lastPH: lastPH, widthChart: '200', heightChart: '200'}) %>
    <%- include("chartCard", {idChart:'radarChart', nombre: nombreTanque, widthChart: '200', heightChart: '200'}) %>
</div>

<div class="card-group">           
    <%- include("panelChart", {idChart:'panelChart',nombre: nombreTanque,lastPH: lastPH, widthChart: '200', heightChart: '200'}) %>    
</div>
<%- include("../templates/footer") %>
<%- include("radarChart") %>
